@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="contianer">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1>Number Fun Web App!</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <form method="post">
            <fieldset>
                <legend>Please enter in the number you wish to have checked:</legend>
                <div>
                    <input type="number" name="InputNumber" value="42" />
                    <input type="submit" value="Submit" class="submit" onclick="evaluateNumber()" />
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        @{
            void evaluateNumber()
            {
                int valueEntered = Convert.ToInt32(Request.Form["InputNumber"]);
            }
        }


    </div>
</div>
